﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-toggle.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="body">
    <header>
        <nav id="main-nav-bar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Music App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <input type="checkbox"
                           data-onstyle="dark"
                           checked
                           id="toggle"
                           data-toggle="toggle"
                           data-style="ios"
                           data-on="Dark"
                           data-off="Light" onchange="setTheme()" />

                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">

            &copy; 2019 - Music App - Privacy
        </div>
    </footer>
    <style>
        .toggle.ios, .toggle-on.ios, .toggle-off.ios {
            border-radius: 20rem;
        }

            .toggle.ios .toggle-handle {
                border-radius: 20rem;
            }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/stylecss.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">

        Init();

        function Init(){
            if (!window.localStorage.getItem("theme")) window.localStorage.setItem("theme", "dark");
            var theme = window.localStorage.getItem("theme");
            if (theme == "dark") document.getElementById('toggle').checked = true;
            else document.getElementById('toggle').checked = false;
            console.log("theme = " + window.localStorage.getItem("theme"));
        }

        function setTheme() {
            var t = document.getElementById('toggle');
            if (t.checked) window.localStorage.setItem("theme", "dark");
            else window.localStorage.setItem("theme", "light");
            window.location.reload();
        }

        var theme = window.localStorage.getItem("theme");
        if (theme == "dark") {
            DarkNavBar();
            DarkBody();
        }

        function DarkBody() {
            var body = document.getElementById('body');
            body.style.backgroundColor = 'black';
            body.style.color = 'white';
        }

        function DarkNavBar() {
            var nav = document.getElementById('main-nav-bar');
            SetBackgroundColor(nav, 'black');

            var navLink = nav.getElementsByTagName('a');
            SetColors(navLink, 'white');

            var navButton = nav.getElementsByTagName('button');
            SetColors(navButton, 'white');
        }
    </script>
</body>
</html>
