﻿
@using Projet_3ASP_282940.Data;
@model List<Projet_3ASP_282940.Models.Music>
@inject ApplicationDbContext _context
@{
    var id = ViewData["PlayListID"].ToString();
    var playlist = _context.PlayLists.FirstOrDefault(p => p.PlayListID == Int32.Parse(id));
    var totalMusics = Model.Count();

    var startBy = "";
    if(ViewData["MusicToPlay"]!=null)
    {
        startBy = ViewData["MusicToPlay"].ToString();
    }

    List<string> musicsName = new List<string>();
    foreach (var m in Model)
    {
        musicsName.Add(m.MusicName);
    };
    string musicsString = string.Join(",", musicsName);
}

<link rel="stylesheet" href="~/css/wavesurfer.css" />

<div class="container">

    <h2 class="d-flex justify-content-center">
        @playlist.PlayListName
        <button type="button" class="btn" onclick="Mute()">
        <img id="mute" width="25" height="25" src="~/icons/volume-up-solid.svg" alt="mute" />
        </button>
    </h2>
    <h3 class="d-flex justify-content-center" id="title">music</h3>

    <div class="d-flex justify-content-center">
        <div id="waveform"></div>
    </div>

    <div class="d-flex justify-content-center button">
        <a href="#">
            <img onclick="Previous()" src="~/icons/backward-solid.svg" />
        </a>
        <button type="button" class="btn" onclick="Previous()"><img id="previous" width="25" height="25" src="~/icons/backward-solid.svg" alt="Previous"/></button>
        <button type="button" class="btn" onclick="PlayPause()"><img id="pause" width="50" height="50" src="~/icons/pause-circle-solid.svg" alt="Pause" /></button>
        <button type="button" class="btn"  onclick="Next()"><img id="next" width="25" height="25" src="~/icons/forward-solid.svg" alt="Next" /></button>
    </div>

    <div class="custom-control custom-checkbox d-flex justify-content-center " id="playlist-info">
        <table class="table">
            <thead>
            </thead>
            <tbody>
                @foreach (var i in musicsName)
                {
                    <tr>
                       <td id="@i" class="music" style="cursor:pointer" onclick="change('@i')">@i</td>              
                    </tr>
                }
            </tbody>
        </table>



    </div>

</div>

<script type="text/javascript" src="~/js/wavesurfer.js"></script>
<script type="text/javascript">

    var theme = window.localStorage.getItem("theme");
    var mute = document.getElementById('mute');
    var pauseplay = document.getElementById('pause');
    var next = document.getElementById('next');
    var previous = document.getElementById('previous');

    var startWith = '@startBy';
    var musicToPlay = 0;
    var GetmusicsString = '@musicsString';
    var ListToPlay = GetmusicsString.split(',');
    var Total = ListToPlay.length;


    if (theme == "dark") {
        var wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: 'grey',
            progressColor: '#F3F3F3',
            height: '300',
            responsive: 'true'
        });

        var myList = document.getElementsByClassName('music');
        for (i = 0; i < myList.length; i++) {
            myList[i].style.color = "white";
        }
    }
    else {
        var wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: 'grey',
            progressColor: 'black',
            height: '300',
            responsive:'true'
        });
        var myList = document.getElementsByClassName('music');
        for (i = 0; i < myList.length; i++) {
            myList[i].style.color = "black";
        }
    }
    

    wavesurfer.on('pause', function () {
        if (theme == "dark")
            pauseplay.setAttribute('src', 'icons/play-circle-solid-white.svg');
        else
            pauseplay.setAttribute('src', 'icons/play-circle-solid.svg');
    
    });
    wavesurfer.on('play', function () {
        if (theme == "dark")
            pauseplay.setAttribute('src', 'icons/pause-circle-solid-white.svg');
        else
            pauseplay.setAttribute('src', 'icons/pause-circle-solid.svg');
    
    });
  
    wavesurfer.on('finish', function () {
        Next();
    });
 

    Init();

    function Init() {
        if (startWith != '') {
            for (var i = 0; i < Total; i++) {
                if (ListToPlay[i] == startWith) {
                    musicToPlay = i;
                    break;
                }
            }      
        }
        if (theme == "dark") {
            previous.setAttribute('src', 'icons/backward-solid-white.svg');
            next.setAttribute('src', 'icons/forward-solid-white.svg');
            mute.setAttribute('src', 'icons/volume-up-solid-white.svg');         
        }     
        Start();
    }
    
    function Start() {
        DisplayMusicTitle();     
        Play('music/' + ListToPlay[musicToPlay]);
    }

    function change(music) {
        document.getElementById(ListToPlay[musicToPlay]).style.fontWeight = "normal";
        musicToPlay = ListToPlay.indexOf(music)
        DisplayMusicTitle();
        Play('music/' + ListToPlay[musicToPlay]);
    }

    function Next()
    {
        document.getElementById(ListToPlay[musicToPlay]).style.fontWeight = "normal";
        if (musicToPlay >= (Total - 1)) {
            musicToPlay = 0
        }
        else {
            musicToPlay++
        }
        DisplayMusicTitle();
        Play('music/' + ListToPlay[musicToPlay]);
    }

    function Previous() {
        document.getElementById(ListToPlay[musicToPlay]).style.fontWeight = "normal";
        document.getElementById(ListToPlay[musicToPlay]).textContent = ListToPlay[musicToPlay];
        if (musicToPlay <= 0) {
            musicToPlay = Total - 1;
        }  
        else {
            musicToPlay--
        }
        DisplayMusicTitle();
        Play('music/' + ListToPlay[musicToPlay]);
    }

    function Play(path) {
        wavesurfer.load(path);
        wavesurfer.on('ready', function () {
            wavesurfer.play();
        });
    }

    function PlayPause() {
        wavesurfer.playPause();
    }

    function Mute() {
        
        wavesurfer.toggleMute();
        var state = wavesurfer.getMute();
        if (state) {
            if (theme == "dark")
                mute.setAttribute('src', 'icons/volume-mute-solid-white.svg')
            else
                mute.setAttribute('src', 'icons/volume-mute-solid.svg')
        }
        else {
            if (theme == "dark")
                mute.setAttribute('src', 'icons/volume-up-solid-white.svg')
            else
                mute.setAttribute('src', 'icons/volume-up-solid.svg')
        }        
    }

    function DisplayMusicTitle(){
        document.getElementById('title').innerText = ListToPlay[musicToPlay];
        document.getElementById(ListToPlay[musicToPlay]).style.fontWeight = "bold";

    }


</script>