﻿
@model IEnumerable<Projet_3ASP_282940.Models.Music>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager


@if (signInManager.IsSignedIn(User))
{
    <div class="container" id="">
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
                <h3>
                    <a href="@Url.Action("Index","PlayList")"
                       class="font-weight-bold text-reset text-decoration-none">&#x3008; &nbsp;&nbsp;&nbsp;</a>
                    @ViewData["PlayListName"]
                </h3>
            </div>

            <div class="p-2 bd-highlight">
                <a class="btn btn-primary"
                   asp-controller="Music"
                   asp-action="Create"
                   asp-route-id=" @ViewData["PlayListID"]">
                    Add music
                </a>
            </div>
        </div>
        <br />
        <div>
            @if (Model.Count() > 0)
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">
                                Music 
                                <a class="btn"
                                    asp-controller="Player"
                                    asp-action="Index">
                                    <img width="25"
                                        height="25"
                                        id="play-btn"
                                        src="~/icons/play-circle-solid.svg"
                                        alt="Play" />
                                </a>
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model)
                        {
                            <tr>
                                <td>@m.MusicName</td>
                                <td>              
                                    <a class="text-decoration-none" asp-controller="Music" asp-action="MusicToPlay" asp-route-id="@m.MusicID">
                                        <img class="play" width="20" height="20" src="~/icons/play-circle-regular.svg" alt="Play" />
                                        &nbsp; &nbsp;
                                    </a>
                                    <a href="@Url.Action("Delete", "Music", new { id = @m.MusicPlayList.PlayListID, id2 = @m.MusicID })">
                                        <img class="delete" width="20" height="20" src="~/icons/trash-alt-regular.svg" alt="Delete" />
                                    </a>                           
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else if (Model.Count() <= 0)
            {
                <hr />
                <p class="text-secondary text-center">No musics</p>
            }
        </div>
    </div>

}
else
{
    <h1>Access denied.</h1>
}


<script src="~/js/stylecss.js"></script>
<script type="text/javascript">
    var theme = window.localStorage.getItem("theme");

    if (theme == "dark") {
        DarkMusicList();
    }

    function DarkMusicList() {
        var th = document.getElementsByTagName('th');
        SetColors(th, '#E7E7E7');

        var td = document.getElementsByTagName('td');
        SetColors(td, '#E7E7E7');

        var play = document.getElementsByClassName('play');
        for (var i = 0; i < play.length; i++) {
            play[i].setAttribute("src", "/icons/play-circle-regular-white.svg");
        }
        
        var del = document.getElementsByClassName('delete');
        for (var i = 0; i < del.length; i++) {
            del[i].setAttribute("src", "/icons/trash-alt-regular-white.svg");
        }

        var playBtn = document.getElementById('play-btn');
        playBtn.setAttribute("src", "/icons/play-circle-solid-white.svg");
    }

</script>