﻿

.row .playList {
    background-color: #F2F3F4 !important;
}

.row .playList:hover {
    background-color: #BCBCBC !important;
}

.playList .btn-edit{
    font-size:0.9em !important;
    padding:1px 5px !important;
}


